 .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
  }
  
  .menu li {
    position: relative;
  }

  .menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }

  .menu a:hover {
    background-color: #555;
  }

  /* Alt Menü */
  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #444;
    padding: 0;
    margin: 0;
    min-width: 150px;
  }

  .submenu li a {
    padding: 10px 15px;
  }

  /* Hover ile göster */
  .dropdown:hover .submenu {
    display: block;
  }