body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    
}


.gallery {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    z-index: 999;
    text-align: center;
}

.modal img {
    max-width: 80%;
    max-height: 80%;
    margin-top: 5%;
}

.close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: white;
    font-size: 45px;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
}

.prev { left: 20px; }
.next { right: 20px; }

/* Mobil uyum */
@media(max-width:768px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
